---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faMailReply } from "@fortawesome/free-solid-svg-icons";

const apiUrl = import.meta.env.ENDPOINT_MAILS;
---

<section class="bg-[#14272a] relative pb-[4.6rem] md:pb-20">
  <div class="container mx-auto px-4 md:px-6 lg:px-8">
    <div class="flex flex-col lg:flex-row items-center lg:items-start justify-center lg:gap-12 xl:gap-20">
      <div class="w-full md:w-1/3 max-w-md mt-16 text-center md:text-left">
        <h1 class="text-white text-4xl md:text-5xl font-bold flex items-center justify-center lg:justify-start gap-5">
          Contacto <FontAwesomeIcon icon={faMailReply} className="text-[#e6ff2b] size-8" />
        </h1>
        <span class="text-slate-300 text-sm text-center">
          Contacta con nosotros para más información y unirte a nuestra
          maravillosa comunidad.
        </span>
      </div>

      <form
        id="contacto"
        class="w-full md:w-2/3 max-w-lg mt-16"
      >
        <div class="relative mb-6">
          <input
            type="text"
            name="subject"
            class="peer block min-h-[auto] w-full rounded border-b-2 border-slate-400 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:border-b-2 focus:border-main text-white placeholder:text-neutral-500"
            id="asunto"
            placeholder="Introduce tu nombre o tu correo electrónico"
            required
          />
        </div>
        <div class="relative mb-6">
          <textarea
            name="message"
            class="peer block min-h-[auto] w-full rounded border-b-2 border-slate-400 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:border-b-2 focus:border-main text-white placeholder:text-neutral-500 resize-none overflow-hidden"
            id="mensaje"
            placeholder="Mensaje"
            required
            maxlength="400"
            rows="1"
            oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
          ></textarea>
        </div>
        <div class="mt-4 text-center lg:text-right">
          <button
            type="submit"
            class="cursor-pointer w-auto inline-flex items-center justify-center py-3 px-6 text-base font-semibold text-center text-slate-800 rounded-full bg-[#e6ff2b] shadow-xs hover:bg-[#a3af4a] hover:scale-105 transition-all duration-500"
            >Enviar</button
          >
        </div>
      </form>

    </div>
  </div>
</section>

<div id="alertContainer" class="fixed bottom-10 right-4 justify-center items-end z-50 hidden">
  <div id="alertMessage" class="flex flex-col gap-2 w-72 sm:w-80 text-xs sm:text-sm z-50">
    
  </div>
</div>

<script define:vars={{ apiUrl }}>
  const formulario = document.getElementById('contacto');
  const alertContainer = document.getElementById('alertContainer');
  const alertMessage = document.getElementById('alertMessage');

  function showAlert(message, isError = false, isLoading = false) {
    const alertClass = isError ? 'error-alert' : 'success-alert';
    const iconColor = isError ? 'text-[#d65563]' : 'text-[#2b9875]';
    const iconPath = isError
      ? 'M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z'
      : 'm4.5 12.75 6 6 9-13.5';

    alertMessage.innerHTML = `
      ${isLoading ? `
        <div id="loader" class="flex flex-row gap-2 mb-2 justify-center">
          <div class="w-4 h-4 rounded-full bg-white animate-bounce [animation-delay:.3s]"></div>
          <div class="w-4 h-4 rounded-full bg-white animate-bounce [animation-delay:.1s]"></div>
          <div class="w-4 h-4 rounded-full bg-white animate-bounce [animation-delay:.2s]"></div>
        </div>
      ` : ''}
      <div class="${alertClass} cursor-default flex items-center justify-between w-full h-auto min-h-[4rem] rounded-lg bg-[#0d1a1c] px-[12px] py-[8px]">
        <div class="flex gap-3 items-center">
          <div class="${iconColor} bg-white/5 backdrop-blur-xl p-1.5 rounded-lg flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="${iconPath}"></path>
            </svg>
          </div>
          <div class="flex-1">
            <p class="text-white font-semibold">${isError ? 'Error' : 'Éxito'}</p>
            <p class="text-gray-400">${message}</p>
          </div>
        </div>
        <button class="text-gray-600 hover:bg-white/5 p-1.5 rounded-md transition-colors ease-linear flex items-center justify-center ml-2" onclick="document.getElementById('alertContainer').classList.add('hidden')">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    `;
    alertContainer.classList.remove('hidden');
  }

  if (formulario) {
    formulario.addEventListener('submit', async (e) => {
      e.preventDefault();
      
      const formData = new FormData(formulario);
      const toUser = "auladesoftwarelibre@gmail.com";
      const subject = "From: " + formData.get('subject');
      const message = formData.get('message');

      try {
        showAlert('Enviando mensaje...', false, true);
        
        const response = await fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            toUser: [toUser],
            subject,
            message
          })
        });

        if (response.ok) {
          showAlert('Mensaje enviado con éxito');
          formulario.reset();
        } else {
          throw new Error('Error al enviar el mensaje');
        }
      } catch (error) {
        console.error('Error:', error);
        showAlert('Hubo un error al enviar el mensaje. Por favor, inténtalo de nuevo.', true);
      }
    });
  } else {
    console.error('El formulario no se encontró en el DOM');
  }
</script>
